.flex-beer{
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-bottom: 50px;
  border: 1px solid black;
  width: 30vw;
  height: 50vh;
  margin: auto;
}

img{
  width: 100px;
  padding-right: 30px;
}